<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia sẽ màn hình</title>
    <script src="/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <p style="text-align: center;">
        `<video src="" id="video" height="500"></video>
    </p>
</body>

</html>

<script>
    const socket = io("/");
    var peer = new Peer(undefined, {
        path: "/peerjs",
        host: "/",
        port: "443",
    });

    function addVideoStream(element, stream) {
        element = document.getElementById(element);
        element.srcObject = stream;
        element.addEventListener("loadedmetadata", () => {
            element.play();
        });
    }

    var getUserMedia =
        navigator.getUserMedia ||
        navigator.webkitGetUserMedia ||
        navigator.mozGetUserMedia;


    let _stream = null;
    navigator.mediaDevices
        .getDisplayMedia({ video: true, audio: false, })
        .then((stream) => {
            addVideoStream('video', stream);
            _stream = stream;
        });


    peer.on("open", (userId) => {
        console.log("Peer ID: " + userId);
        socket.on("newView", (userId) => {
            console.log('User Connected: ' + userId);
            streamScreen(userId, _stream);
        });

    });

    function streamScreen(userId, streams){
        var call = peer.call(userId, streams);
        if(call)
            call.on("stream", (streams) => {});
    }

</script>