<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chia sẽ màn hình</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/peerjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<style>
    video {
        width: 100%;
        height: 100%;
        border: 1px solid #eee;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
           
        </div>
    </div>


</body>

</html>

<script>
    const socket = io("/");
    var peer = new Peer(undefined, {
        path: "/peerjs",
        host: "/",
        port: "443",
    });

    function addVideoStream(element, stream) {
        element = document.getElementById(element);
        element.srcObject = stream;
        element.addEventListener("loadedmetadata", () => {
            element.play();
        });
    }

    peer.on("open", (id) => {
        console.log(id)
    });

    peer.on("call", function (call) {
        call.answer('');
        $('.row').append("<div class='col-md-6'><video style='width: 100%; height: 100%;' autoplay muted id='" + call.connectionId + "' height='500'></video></div>");
        call.on("stream", function (remoteStream) {
            addVideoStream(call.connectionId, remoteStream);
        });
    });

    var userId = null;
    peer.on("open", (userId) => {
        console.log("Peer ID: " + userId);
        userId = userId;
        socket.emit("newView" , userId);
    });

    socket.on("newView", (userId) => {
        console.log('User Connected: ' + userId);
        socket.emit("room", userId);
    });


</script>